$brand-color: #84cc16;
$dark-color: #27272a;
$mid-color: #52525b;
$light-color: #d4d4d8;
$contrast-color: #cc1629;

$background: #16161a;
$headline: #fffffe;
$paragraph: #94a1b2;
$button: #7f5af0;
$stroke: #010101;
$secondary: #72757e;
$tertiary: #2cb67d;
